.true{
    background-color: white;
    height: 42px;
    width: 330px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.true img{
    width: 30px;
    height: 30px;
    margin-left: 9px;
    margin-right: 12px;
}
.true input{
    width: 75%;
    outline: none;
    border: none;
}

.hidden{
    background-color: white;
    height: 42px;
    width: 330px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}
.hidden img{
    width: 30px;
    height: 30px;
    margin-left: 9px;
    margin-right: 12px;
    display: none;
}
.hidden input{
    width: 75%;
    outline: none;
    border: none;
    display: none;
}