.library-container{
    width: 100%;
    padding-bottom: 19vh;
    background-image: linear-gradient(rgb(40, 49, 88), rgb(22, 20, 22));
  }
  .library-moveright{
    width: 82%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 2vh;
  }

  .exclusivespg{
      display: flex;
      flex-direction: column;
  }
  @media screen and (max-width:1468px){
    .exclusivespg{
        display: none;
    }
    .library-moveright{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-top: 2vh;
      }

}
.plsylistboxblur{
    width: 430px;
    height: 285px;
    background:linear-gradient(145deg,rgb(44, 44, 196),rgb(120, 102, 139));
    border-radius: 5px;
    text-decoration: none;
    margin-right: 22px;
}

.h3wherelike{
    padding-top: 29%;
}
.h3wherelike  h3{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: 35px;
    margin-left: 15px;
}
.h3wherelike  p{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15px;
}
.plsylistboxblur-cont{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.playlistpageheader h3{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}