@media screen and (max-width:989px){
    .name h3{
        font-size: 25px;
    }
    .singer{
        margin-left: 5px;
    }
    .imgspage img{
        width: 200px;
        height: 200px;
    }
    .name{
        padding-top: 0;
    }
}