.like-container{
    width: 100%;
    padding-bottom: 19vh;
    background-image: linear-gradient(rgb(40, 49, 88), rgb(22, 20, 22));
  }
  .likeright{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 82.55%;
    padding-top: 2vh;
  }
  @media screen and (max-width:1649px) and (min-width:1404px){
    .likeright{
        width: 79.55%;
    }
}
@media screen and (max-width:1404px)and (min-width:1254px){
    .likeright{
        width: 77.55%;
    }
}
@media screen and (max-width:1254px)and (min-width:1130px){
    .likeright{
        width: 75.55%;
    }
}
@media screen and (max-width:1130px)and (min-width:904px){
    .likeright{
        width: 72.55%;
    }
    .name h3 {
        font-size: 55px;
    }
}
@media screen and (max-width:904px){
    .likeright{
        width: 71.55%;
    }
    .name h3 {
        font-size: 45px;
    }
}
@media screen and (max-width:1617px){
    .library-moveright{
        width: 80.55%;
      }
}
