@media screen and (max-width:1595px){
    .library-moveright{
        width: 78%;
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
        padding-top: 2vh;
      }
}
  @media screen and (max-width:895px){
    .somelibrbarycls{
        display: flex;
        flex-direction: column;
    }
  }