@media screen and (max-width:1595px){
    .library-moveright{
        width: 78%;
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
        padding-top: 2vh;
      }
}
  @media screen and (max-width:895px){
    .somelibrbarycls{
        display: flex;
        flex-direction: column;
    }
  }
  @media screen and (max-width:654px){
    .library-moveright{
      background-image: linear-gradient(rgb(40, 49, 88), rgb(22, 20, 22));
      padding-right: 1vw;
    }
    .library-container{
      width: fit-content;
    }
    .somelibrbarycls a{
      width:380px;
      height: 285px;
    }
  }