/* 1610 */
@media screen and (max-width:1610px){
    .searchright{
        margin-left: 1vw;
      }
}
@media screen and (max-width:1610px) and (min-width:1159px){
    .boxgenre,.boxgenre2{
    width: 30vw;
    height: 199px;
    }
}
@media screen and (max-width:1159px){
    .boxgenre,.boxgenre2{
    width: 24vw;
    height: 199px;
    }
}